<div id="avaliable-things" v-cloak>
  <div class = "container-fluid">
    
    <div class="row" style="margin-bottom: 16px;">
      <div class="col-12 text-center">
        <h1>Things</h1>
        <p>View available things to borrow, or upload your own things.</p>
        <button class="btn btn-outline-info" @click="clickUploadThing()">Upload a Thing</button>
      </div>
    </div>

  
    <div
      class = "card-columns"
      style="margin-bottom: 16px;"
    >
      <div
        class="card"
        v-for="thing in things"

      >
        
        <div class="card-header">
          <div class="row align-middle">

            <div v-if="thing.owner.id !== me.id" class="col-9 align-middle flex">{{ thing.owner.fullName }}</div>
            <div v-if="thing.owner.id === me.id" class="col-9 align-middle flex">Mine</div>

            <div class="dropdown col-3">
              <button
                class="btn btn-link"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-ellipsis-v text-secondary"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" >
                <% // if i'm the owner %>
                <button v-if="thing.owner.id === me.id" class="dropdown-item" @click="clickDeleteThing(thing.id)" type="button">Delete</button>
                <% // if i'm the owner and object is borrowed %>
                <button v-if="thing.owner.id === me.id && thing.borrowedBy !== null" class="dropdown-item" @click="" type="button">Mark as returned</button>
                <button v-if="thing.owner.id === me.id && thing.borrowedBy !== null" class="dropdown-item" @click="" type="button">Contact {{thing.borrowedBy.fullName}}</button>
                <% // if i am not the owner and i am not borrowing %>
                <button v-if="thing.owner.id !== me.id && thing.borrowedBy.id !== me.id" class="dropdown-item" @click="clickBorrowThing(thing.id)" type="button">Borrow</button>
                <% // if i am not the owner and i am borrowing %>
                <button v-if="thing.owner.id !== me.id && thing.borrowedBy.id === me.id" class="dropdown-item" @click="clickBorrowThing(thing.id)"
                  type="button">Contact {{thing.owner.fullName}}</button>


              </div>
            </div>
          </div>

        </div>

        <img class="card-img-top" :src="thing.imageSrc" :alt="thing.label">
        <div class="card-body">
          <h5 class="card-title">{{ thing.label }}</h5>
        </div>
      </div>
  
    </div>

  </div>

  <% /* Confirm Delete Thing Modal */%>

  <modal v-if="confirmDeleteThingModalOpen" v-cloak @close="closeDeleteThingModal()" key="deleteThing">

    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>You are about to delete item "{{ thingDeleteThingModal.label }}". Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, I'm not sure</button>
      <button type="button" class="btn btn-danger" @click="clickConfirmDeleteThingModal()">Delete</button>
    </div>
    
  </modal>


  <% /* Upload Thing Modal */%>
  
  <modal v-if="uploadThingModalOpen" v-cloak @close="closeUploadThingModal()" key="uploadThing">
    <div class="modal-header">
      <h5 class="modal-title">Upload a new thing</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ajax-form
      action="uploadThing"
      :syncing.sync="syncing"
      :cloud-error.sync="cloudError"
      :handle-parsing="handleParseUploadThingForm"
      @submitted="submittedUploadThingForm"

    >
      <div class="modal-body">
        <div class = "row">
          <div class ="col-12">
            <div class="form-group">
              <label for="inputImage">Add a photo:</label>
              <input
                type="file"
                name="photo"
                :disabled="syncing"
                class="form-control-file file-input"
                @change="changeFileInput($event.target)"
                id="inputImage"
              >
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-12">
            <img
              v-if="uploadThingImagePreview"
              :src="uploadThingImagePreview"
              class="rounded"
              style='max-width: 100%; padding: 1em;'
            />
          </div>
          <p><strong>Tip:</strong> Make sure the item is front and center in the photo, so people know exactly what you are offering to share.</p>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="uploadThingLabel">Little description of the thing.</label>
              <input
                type="text"
                class="form-control"
                id="uploadThingLabel"
                name="label"
                :value.sync="uploadFormData.label"
                aria-describedby="labelHelp"
                placeholder="Red Mountain bike"
                @change="changeUploadThingLabel($event.target)"
              >
              <small id="labelHelp" class="form-text text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Share item</button>
      </div>
    </ajax-form>

  </modal>

<% /* Borrow Thing Modal */%>

  <modal v-if="borrowThingModalOpen" v-cloak @close="closeBorrowThingModal()" key="borrowThing">
    <div class="modal-header">
      <h5 class="modal-title">Borrow <strong>{{thingBorrowThingModal.label}}</strong></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ajax-form action="borrowThing" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParseBorrowThingForm"
      @submitted="">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img :src="thingBorrowThingModal.imageSrc" class="rounded img-fluid" style='max-width: 100%; padding: 1em;'
            />
          </div>
          
        </div>
        <div class="row">
          <div class="col-12">
            <h5>{{thingBorrowThingModal.label}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Share item</button>
      </div>
    </ajax-form>

  </modal>




</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
